#news--banner .news--banner::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
}

#news--banner .news--banner {
    position: relative;
    background-position: center;
    background-size: ;
}

.icon-bar {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    z-index: 10;
    transform: translateY(-50%);
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 9px 20px;
    transition: all .3s ease;
    color: #fff;
    font-size: 20px;
}

.facebook {
    background: #3B5898;
    color: #fff;
}

.twitter {
    background: #00ACED;
    color: #fff;
}

.linkedin {
    background: #007BB6;
    color: #fff;
}

.msger {
    background: #AAA;
    color: #fff;
}

#news--details--wrapper {
    background-color: #F8F8F8;
    padding: 90px 0 40px;
}

.news--white {
    padding: 30px 40px;
}

.news-main-con h3 {
    font-family: Muli-Bold;
    color: #4A4A4A;
    margin-bottom: 30px;
}

.neww--dea .news-d {
    margin-bottom: 0;
    color: #747474;
}

#news--details--wrapper .recent--blogs, #news--details--wrapper .rightbar--one, #related-section-wrapper, .news--white {
    background-color: #fff;
}

.neww--dea .news-d, .neww--dea .news-d span {
    font-family: Muli-Bold;
    font-size: 22px;
}

.neww--dea .date-n {
    font-family: Muli-Regular;
}

.news--main--deatail p {
    line-height: 30px;
}

.news--main--deatail li, .news--main--deatail p {
    font-size: 17px;
}

.news--main--deatail h2, .news--main--deatail h3, .news--main--deatail h4 {
    padding-bottom: 15px;
    font-family: Muli-Bold;
    font-size: 27px;
}

.news--main--deatail p {
    line-height: 30px;
}

.rightbar--one {
    padding: 25px;
    box-shadow: 1px 1px 20px 3px #A2A2A229;
    margin-bottom: 25px!important;
}

.rightbar--one .form-control {
    background: url(../images/ic_search.png) 19px no-repeat #F8F8F8;
    background-size: 18px;
    border: 1px solid #707070;
    height: 55px;
    border-radius: 0;
    padding-left: 45px;
    color: #000;
    font-size: 18px;
    font-family: Muli-Regular;
}

.rightbar--one .form-control:focus {
    outline: 0;
    box-shadow: none;
}

.card--img {
    background-size: cover!important;
    background-position: center !important;
}

@media (min-width: 992px) {
    .card--img {
        min-height: 265px;
    }
}

@media (max-width: 992px) {
    .card--img {
        min-height: 255px;
    }
}

.btn-search-two {
    width: 100%;
    background-color: #AB4742;
    border: 1px solid #AB4742;
    color: #fff;
    text-align: center;
    height: 45px;
    justify-content: center;
    display: flex;
    border-radius: 0;
    transition: .3s ease;
}

.btn-search-two:hover {
    background-color: inherit;
    color: #AB4742;
}

.rightbar--one {
    padding: 25px;
    box-shadow: 1px 1px 20px 3px #A2A2A229;
    margin-bottom: 25px!important;
}

.recent--blogs h3 {
    font-size: 26px;
    color: #000;
}

.recent--blogs {
    padding: 30px 40px;
    -webkit-box-shadow: 1px 1px 20px 3px #A2A2A229;
    box-shadow: 1px 1px 20px 3px #A2A2A229;
}

.recent--blogs .blogs--content h5 {
    font-size: 16px;
    margin-bottom: 10px;
}

.recent--blogs .blogs--content p {
    font-size: 20px;
    color: #606060;
}

.blogs--content {
    margin-top: 30px;
    max-height: 625px;
    min-height: 150px;
    overflow-y: auto;
}

.recent--blogs .blogs--content a {
    color: #606060;
    text-decoration: none;
    font-size: 16px;
    line-height: inherit;
}

.recent--blogs .blogs--content a :hover {
    color: #AB4742;
    transition: 0.3s;
}

.recent--blogs h3::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #000;
    display: block;
    margin-top: 11px;
}

.blogs--content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #F5F5F5
}

.blogs--content::-webkit-scrollbar {
    width: 3px;
    background-color: #F5F5F5
}

.blogs--content::-webkit-scrollbar-thumb {
    background-color: #000;
    border: 2px solid #555
}

.blog-category {
    background-color: #fff;
    padding: 30px 40px;
    -webkit-box-shadow: 1px 1px 20px 3px #A2A2A229;
    box-shadow: 1px 1px 20px 3px #A2A2A229;
}

.blog-category h3 {
    font-size: 26px;
    color: #000;
    margin-bottom: 25px;
}

.blog-category h3::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #000;
    display: block;
    margin-top: 11px;
}

.blog-category .btn {
    background-color: #fff;
    border: 1px solid #A7A7A7;
    color: #000;
    border-radius: 30px;
    margin-bottom: 15px;
    margin-right: 10px;
}

.blog-category .btn:hover {
    background-color: #AB4742;
    color: #fff;
}

.blog-category .btn:focus {
    box-shadow: none;
    outline: 0;
}

.btn-cat-active {
    background: url('../images/check_circle.svg') 16px 8px no-repeat, 16px 8px #AB4742 !important;
    padding: 7px 33px 7px 51px!important;
    color: #fff !important;
    font-size: 18px;
}

#related-section-wrapper {
    padding: 60px 0;
}

#related-section-wrapper h3 {
    font-size: 35px;
    margin-bottom: 40px;
}

.related--block .related--content {
    background-color: #fff;
    padding: 20px 20px 41px;
    min-height: 160px;
}

.related--block {
    margin-bottom: 15px;
    box-shadow: -1px -3px 24px -14px rgba(111, 111, 111, .7);
}

.related--content p {
    color: #222;
    font-size: 19px;
    line-height: initial;
    /* margin-bottom: 20px; */
}

.related--content a {
    text-decoration: none;
}

.related--content .read--moer {
    position: absolute;
    bottom: 40px;
    background: url('../images/arrow2.png');
    padding-right: 20px;
    background-position: 100%;
    background-repeat: no-repeat;
    right: 40px;
}

.read--moer {
    float: right;
    font-size: 12px;
    color: #2B2928;
}

#related .owl-nav>div {
    position: absolute;
    top: 40%;
    display: flex;
    justify-content: center;
}

#related .owl-nav>div>img {
    width: 50px;
}

@media screen and (max-width: 1401px) and (min-width: 800px) {
    #related .owl-nav .owl-next {
        right: -61px;
    }
    #related .owl-nav .owl-prev {
        left: -61px;
    }
}

#section--wrapper--two {
    background: url(../images/newsletter.png) center;
    padding: 90px 0;
    background-size: cover!important;
}

#section--wrapper--two h2 {
    color: #fff;
    font-size: 45px;
    font-family: Muli-Regular;
}

@media screen and (max-width: 1501px) {
    #section--wrapper--two h2 {
        font-size: 30px;
    }
}

#section--wrapper--two p {
    color: #fff;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#section--wrapper--two .form-control {
    height: 60px;
    border-radius: 0;
    color: #8E8E8E;
    font-family: Muli-Regular;
    padding-left: 30px;
    border: none;
}

search--three {
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    font-family: Muli-Bold;
    padding: 20px 40px;
    height: 60px;
    display: inline-flex;
    font-size: 20px;
    line-height: 15px;
}

.subscribe--row .form-group {
    display: inline-block;
    padding-right: 20px;
}

.subscribe--row .form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.subscribe--row .form-group label {
    position: relative;
    margin-bottom: 0;
    cursor: pointer;
}

.subscribe--row label {
    color: #fff;
    font-family: Muli-Regular;
    font-size: 16px;
}

.subscribe--row .form-group label::before {
    content: '';
    -webkit-appearance: none;
    background-color: #fff;
    padding: 12px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 15px;
}

.subscribe--row .form-group input:checked+label::before {
    content: '';
    background-color: #AB4742;
}

.subscribe--row .form-group input:checked+label::after {
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    left: 10px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
}

.btn-search--three {
    background-color: #AB4742;
    border: 1px solid #AB4742;
    color: #fff;
    font-family: Muli-Bold;
    padding: 20px 40px;
    height: 60px;
    display: inline-flex;
    font-size: 20px;
    line-height: 15px;
    border-radius: 0px;
}

.btn-search--three:hover {
    background-color: inherit;
    color: #fff;
}

#socila--feed-wrapper {
    padding: 60px 0;
}

#socila--feed-wrapper h3 {
    font-size: 40px;
    color: #000;
    font-family: Muli-Regular;
    margin-bottom: 40px;
}

.feed--wrapper {
    box-shadow: 0 3px 26px #6F6F6F29;
    padding: 20px;
    max-height: 489px;
    overflow-y: auto;
}

#banner--wrapper {
    height: 650px;
    background-position: center;
    background-size: cover !important;
}

@media screen and (max-width: 1501px) and (min-width: 767px) {
    #banner--wrapper {
        height: 550px;
    }
}

#banner--wrapper h1 {
    color: #fff;
    font-size: 55px;
    font-family: Muli-SemiBold;
}

#banner--wrapper p {
    color: #fff;
    font-size: 28px;
    font-family: Muli-Regular;
}

.wrapper--one {
    background-color: #fff;
    width: 100%;
    -webkit-box-shadow: 1px 1px 20px 3px #A2A2A229;
    box-shadow: 1px 1px 20px 3px #A2A2A229;
    padding: 30px 40px 25px;
}

.wrapper--one h4 {
    color: #000;
    font-size: 26px;
    margin-bottom: 20px;
}

.wrapper--one .btn {
    padding: 7px 23px;
    margin-right: 15px;
    border-radius: 25px!important;
    margin-bottom: 15px;
}

.btn-city {
    background-color: #fff;
    border: 1px solid #A7A7A7;
    color: #000;
}

.btn-city-active {
    background: url('images/check_circle.svg') 16px 8px no-repeat, 16px 8px #AB4742;
    padding: 7px 33px 7px 51px!important;
    color: #fff;
    font-size: 18px;
}

.wrapper--one .btn-city:hover {
    color: #fff;
    background-color: #AB4742;
}

.wrapper--one--two {
    margin-top: 20px;
    padding: 30px 40px 50px;
    box-shadow: 1px 1px 20px 3px #A2A2A229;
    background-color: #fff;
}

.top--wrapper {
    display: flex;
    justify-content: flex-end;
}

.banner--img img, .card--type--one img, .feed--wrapper img {
    width: 100%;
}

.card-content--one {
    background-color: #F8F8F8;
    padding: 20px 30px;
}

.sec--con--one {
    width: 70%;
}

.sec--con--two a {
    color: #2B2928;
    font-size: 15px;
    font-family: Muli-Bold;
    transition: .4s ease;
    text-decoration: none;
    transition: .4s ease;
    background: url('../images/arrow2.png');
    background-position: 100%;
    background-repeat: no-repeat;
    padding-right: 25px;
    text-decoration: none;
}

.card-content--one h4, .card-content--one h4 a {
    font-size: 22px;
    color: #4D4D4D;
    line-height: initial;
    margin-bottom: 0;
    text-decoration: none;
}

.inner--content .read--more {
    width: 100%;
    display: block;
    text-align: right;
    color: #2B2928;
    font-size: 15px;
    font-family: Muli-Bold;
    transition: .4s ease;
    background: url('../images/arrow2.png');
    background-position: 100%;
    background-repeat: no-repeat;
    padding-right: 25px;
    text-decoration: none;
}

.area {
    background-color: #D6D6D6;
    padding: 4px 23px;
    align-self: flex-start;
    color: #454545;
    font-family: Muli-SemiBold;
}

.inner--content {
    padding: 20px 30px;
}

.card--type--two .card-content--one {
    padding: 0;
}

.load--more {
    display: flex;
    height: 46px;
    padding: 8px 15px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 180px;
    background-color: #AB4742;
    border: 1px solid #AB4742;
    color: #fff;
    font-size: 18px;
    font-family: Muli-Regular;
    transition: .3s ease;
    text-decoration: none;
}

.load--more:hover {
    background-color: inherit;
    color: #084D47;
    text-decoration: none;
}

.btn-arrow {
    position: absolute;
    bottom: 51px;
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
}
