{% load static %}
{% load filters %}
{% load static thumbnail %}
<!-- {% load el_pagination_tags  %} -->

<!-- {% if feature|featured:True %} -->
<!-- {% with total=feature|slice:"1:" %} -->
<div class="tab-content" id="nav-tabContent">
<!-- {% paginate 3 total %} -->
<div class="tab-pane active show fade" >
  {% for obj in total %}
  <div class="card--type--two " id="{{obj.blog_topic|slugify}}">
    <div class="row">
      <div class="card-img col-12 col-sm-12 col-md-12 col-lg-5 p-0">
        <a href="blogdetails.html" class="read--more">
          <div class="card--img h-100" style="background: url('{{obj.blog_image.url}}');">
          </div>
        </a>
      </div>
      <div class="card-body col-12 col-sm-12 col-md-12 col-lg-7 p-0 card--one  bg-1">
        <div class="card-content--one h-100  justify-content-between">
          <div class="sec--con--one w-100">
            <div class="top--wrapper">
              <span class="area">{{obj.blog_topic.blog_category}}</span>
            </div>
            <div class="inner--content">
              <h4>
                <a href="{% url 'blog:blog_details' slug=obj.slug %}">{{obj.blog_title}}
                </a>
              </h4>
              <p dir="ltr">{{obj.blog_short_description}}</p>
              <div>
                <a href="{% url 'blog:blog_details' slug=obj.slug %}" class="read--more">Read More
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>
<!-- <a href="javascript:void(0)" class="load--more"> -->
<!-- <div class="load--more">
  {% show_more "Load More" %}
</div> -->
<!-- </a> -->

<script>
  $("#topic").change(function(){
      $(this).find("option:selected").each(function(){
          var optionValue = $(this).attr("value");
          if(optionValue){
              $(".card--type--two").not("." + optionValue).hide();
              $("#" + optionValue).show();
          } else{
              $(".card--type--two").hide();
          }
      });
  }).change();
</script>
{% endwith %}
{% endif %}
