{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load filters %}
{% load el_pagination_tags  %}

{% block meta_tags %}
<link rel="stylesheet" href="{% static 'instructscience/css/inspire.css' %}">
{# metatags goes here #}
{% endblock %}
{% block content %}
<!-- Video Introduction section starts here   -->
<section id="videos-intro" class="container-fluid">
  <div class="container">
    <div class="row">
      <h2>Wall of Inspiration</h2>
      <p>"Where Attention goes enerygy flows where enerygy flows manifestation happens."</p>
    </div>
  </div>
</section>
<!-- Video Introduction section ends here   -->

<!-- inspired by video section starts here -->
<section id="inspired-videos" class="container-fluid">
  <div class="container">
    <div class="row video-head-wrapper">
      <h2>Videos</h2>
      <form class="videos--sort"  method="get">
        <select onchange="this.form.submit()" class="videos--form" name="video_year">
        {% for obj in vid_year %}
          <option value="{{obj.content_published_date__year}}" {% if request.GET.video_year in obj.content_published_date__year %} selected {% endif %}>{{obj.content_published_date__year}}</option>
        {% endfor %}
        {% comment %}
          <option value="2019">2018</option>
          <option value="2019">2017</option>
          <option value="2019">2016</option>
        {% endcomment %}
        </select>
      </form>
    </div>
    <div class="row videos-row">
      {% paginate 3 video_search_list %}
      {% for obj in video_search_list%}
      <div class="col-lg-4 col-md-6 col-xs-12 col-sm-12">
        <div class="video-wrapper">
          <img src="{{obj.video_image.url}}" alt="kindergarten" class="img-fluid">
          <h2>{{obj.video_title}}</h2>
          <p>
            <a href="{{obj.video_link}}" target="_blank">Video</a>
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row load--more">
      {% show_more "Load More" %}
      <!-- <a href="javascript:void(0);">Load More</a> -->
    </div>
  </div>
</section>
<!-- inspired by video section ends here -->

<!-- inspired by books section starts here -->
<section id="inspired-books" class="container-fluid">
  <div class="container">
    <div class="row video-head-wrapper">
      <h2>Books</h2>
      <form class="videos--sort"  method="get">
        <select class="videos--form" onchange="this.form.submit()" name="book_year">
          {% for obj in b_year %}
            <option value="{{obj.content_published_date__year}}" {% if request.GET.book_year in obj.content_published_date__year %} selected {% endif %}>{{obj.content_published_date__year}}</option>
          {% endfor %}
          {% comment %}
            <option value="2019">2018</option>
            <option value="2019">2017</option>
            <option value="2019">2016</option>
          {% endcomment %}
        </select>
      </form>
    </div>
    <div class="row videos-row">
      {% paginate 3 book_search_list %}

      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <div class="owl-carousel" id="book-carousel">
          {% for obj in book_search_list%}
          <div class="item">
            <div class="video-wrapper">
              <img src="{{obj.book_image.url}}" alt="kindergarten" class="img-fluid">
              <h2>{{obj.book_title}}</h2>
              <p>
                <a href="{{obj.book_link}}">Book</a>
              </p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="row load--more">
      <!-- <a href="javascript:void(0);">Load More</a> -->
      {% show_more "Load More" %}
    </div>
  </div>
</section>
<!-- inspired by books section ends here -->


<!-- inspired by quotes section starts here -->
<section id="inspired-quotes" class="container-fluid">
  <div class="container">
    <h2>Inspirational Quotes</h2>
    <h3>"Somewhere, something incredible is waiting to be known.""</h3>
    <p>-Carl Sagan</p>
    <div class="gallery row">
      <div id="quote-carousel" class="owl-carousel owl-theme">
        {% for obj in gallery_obj %}
          <div class="item">
            <a href="{{obj.gallery_image.url}}" data-fancybox="images">
              <img src="{{obj.gallery_image.url}}" alt="Owl Image" class="img-fluid">
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!-- inspired by quotes section ends here -->
{% endblock %}
{% block scripts_page_specific %}
{% endblock %}
