.row, body {
  margin: 0
}

.top--header ul li a, body {
  font-family: Muli-Regular
}

@font-face {
  font-family: Muli-Bold;
  src: url(../fonts/Muli-Bold/Muli-Bold.eot?#iefix) format('embedded-opentype'), url(../fonts/Muli-Bold/Muli-Bold.woff) format('woff'), url(../fonts/Muli-Bold/Muli-Bold.ttf) format('truetype'), url(../fonts/Muli-Bold/Muli-Bold.svg#Muli-Bold) format('svg');
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: Muli-Regular;
  src: url(../fonts/Muli-Regular/Muli-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/Muli-Regular/Muli-Regular.woff) format('woff'), url(../fonts/Muli-Regular/Muli-Regular.ttf) format('truetype'), url(../fonts/Muli-Regular/Muli-Regular.svg#Muli-Regular) format('svg');
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: Muli-SemiBold;
  src: url(../fonts/Muli-SemiBold/Muli-SemiBold.eot?#iefix) format('embedded-opentype'), url(../fonts/Muli-SemiBold/Muli-SemiBold.woff) format('woff'), url(../fonts/Muli-SemiBold/Muli-SemiBold.ttf) format('truetype'), url(../fonts/Muli-SemiBold/Muli-SemiBold.svg#Muli-SemiBold) format('svg');
  font-weight: 400;
  font-style: normal
}

body {
  padding: 0;
  background-color: #F5F5F5;
  font-weight: 400;
}

/* Sidenav style starts here */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #AB4742;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sticky-header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* Sidenav style ends here */

/* Header style starts here */

#main-head {
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
}

#main-head .container {
  max-width: 85%;
}

#main-head .main-head-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

#main-head .main-head-wrapper .main-head-cont-wrapper ul {
  display: flex;
  align-items: baseline;
  list-style-type: none;
}

#main-head .main-head-wrapper .main-head-cont-wrapper ul li {
  padding: 0px 10px;
}

#main-head .main-head-wrapper .main-head-cont-wrapper ul li a {
  font-size: 18px;
  color: #2B2928;
  font-family: Muli-Regular;
  text-decoration: none;
}

#main-head .main-head-img-wrapper img {
  width: 80%;
}

/* Header style ends here */

/* Banner section style starts here */

#Banner-sec {
  padding: 0;
  position: relative;
}

#Banner-sec #Banner-carousel {
  width: 100%;
}

#Banner-sec #Banner-carousel #car-1 {
  background: transparent linear-gradient(180deg, #cccccc 0%, #5E9094 100%) 0% 0% no-repeat padding-box;
  height: 600px;
}

#Banner-sec #Banner-carousel #car-2 {
  background: transparent linear-gradient(180deg, #cccccc 0%, #AB4742 100%) 0% 0% no-repeat padding-box;
  height: 600px;
}

#Banner-sec #Banner-carousel #car-3 {
  background: transparent linear-gradient(180deg, #5E9094 0%, #AB4742 100%) 0% 0% no-repeat padding-box;
  height: 600px;
}

#Banner-sec #Banner-carousel .auth-wrapper {
  align-items: center;
  width: 85%;
  margin: 0 auto;
  padding: 6% 0;
}

#Banner-sec #Banner-carousel .auth-wrapper .auth-cont-wrapper h2 {
  color: #FFFFFF;
  font-size: 36px;
  margin: 0;
  font-family: Muli-Bold;
  padding-bottom: 10px;
}

#Banner-sec #Banner-carousel .auth-wrapper .auth-cont-wrapper h3 {
  color: #fff;
  font-size: 26px;
  font-family: Muli-SemiBold;
}

#Banner-sec .down-arrow {
  position: absolute;
  bottom: 30px;
  right: 0;
  left: 0;
  margin: 0 auto;
  text-align: center;
}

#Banner-sec .down-arrow img {
  cursor: pointer;
}

#Banner-sec .down-arrow img:hover {
  transition: 0.3s ease-in;
  transform: translate(0px, 10px);
}

#Banner-sec #Banner-carousel .carousel-control-next, .carousel-control-prev {
  width: 5%;
}

#Banner-sec #Banner-carousel .carousel-control-prev-icon {
  background-image: url('../images/Bleft.png');
  width: 50px;
  height: 50px;
}

#Banner-sec #Banner-carousel .carousel-control-next-icon {
  background-image: url('../images/Bnext.png');
  width: 50px;
  height: 50px;
}

/* Banner section style ends here  */

/* expertise section style starts here */

#expertise {
  padding: 80px 0px;
}

#expertise .expertise-head-wrapper {
  padding-bottom: 40px;
}

#expertise .expertise-head-wrapper h2 {
  color: #000000;
  font-family: Muli-SemiBold;
  font-size: 36px;
  margin: 0;
  padding-bottom: 10px;
}

#expertise .expertise-head-wrapper p {
  color: #000000;
  font-size: 18px;
  font-family: Muli-Regular;
}

#expertise .expertise-tab-wrapper #myTab .nav-item {
  padding-right: 25px;
}

#expertise .expertise-tab-wrapper #myTab .nav-item .nav-link.active {
  color: #AB4742;
  opacity: 100%;
  font-family: Muli-Bold;
  border-bottom: 2px solid #AB4742;
  background-color: transparent;
}

#expertise .expertise-tab-wrapper #myTab .nav-item .nav-link#qc-tab.active {
  background-image: url('../images/act_qc.png') !important;
  transition: 0.3s ease-in;
}

#expertise .expertise-tab-wrapper #myTab .nav-item .nav-link#ai-tab.active {
  background-image: url('../images/act_ai.png') !important;
  transition: 0.3s ease-in;
}

#expertise .expertise-tab-wrapper #myTab .nav-item .nav-link#ml-tab.active {
  background-image: url('../images/act_ml.png') !important;
  transition: 0.3s ease-in;
}

#expertise .expertise-tab-wrapper #myTab .nav-item .nav-link#genetics-tab.active {
  background-image: url('../images/act_gen.png') !important;
  transition: 0.3s ease-in;
}

#expertise .expertise-tab-wrapper #myTab .nav-item .nav-link#cloud-tab.active {
  background-image: url('../images/act_cc.png') !important;
  transition: 0.3s ease-in;
}

#expertise .expertise-tab-wrapper #myTab .nav-item .nav-link {
  color: #000000;
  opacity: 60%;
  font-size: 18px;
  font-family: Muli-Regular;
  border-left: none;
  border-top: none;
  border-right: none;
  background-repeat: no-repeat;
  background-position: 7px;
  display: flex;
  align-items: center;
  padding: 10px 0px 10px 50px;
}

#expertise .expertise-tab-wrapper #myTab {
  border-bottom: 2px solid #F5F5F5;
  margin-bottom: 25px;
  opacity: 100%;
}

#expertise .expertise-tab-wrapper .tab-content {
  font-size: 18px;
  color: #000000;
  opacity: 100%;
  font-family: Muli-Regular;
}

/* expertise section style ends here */

/* social carousel sec style starts here */

#social-carousel {
  padding: 150px 0 0 0;
}

#social-carousel .owl-item {
  padding: 30px;
  background: #fff;
  box-shadow: 0px 6px 12px #00000029;
  margin: 0px 15px;
}

#social-carousel .owl-nav {
  position: absolute;
  top: 0;
  right: 15%;
  display: flex;
}

#social-carousel .owl-nav .owl-prev img {
  padding-right: 12px;
}

/* social carousel sec style ends here */

/* Inspired By section style starts here */

#inspired h2 {
  text-align: center;
  font-size: 36px;
  font-family: Muli-SemiBold;
  margin: 0;
  padding-bottom: 20px;
}

#inspired .main-row {
  padding-bottom: 30px;
}

#inspired .load--more {
  padding: 10px 0px 50px;
  text-align: center;
  display: block;
}

#inspired .load--more a {
  background-color: #AB4742;
  padding: 10px 35px;
  color: #fff;
  text-decoration: none;
}

#inspired .load--more a:hover {
  border: 1px solid #AB4742;
  transition: 0.3s ease-in;
  background-color: transparent;
  color: #AB4742;
}

.load--more {
  padding: 50px 0px;
  text-align: center;
  display: block;
}

.load--more a {
  background-color: #AB4742;
  padding: 10px 35px;
  color: #fff;
  text-decoration: none;
}

.load--more a:hover {
  border: 1px solid #AB4742;
  transition: 0.3s ease-in;
  background-color: transparent;
  color: #AB4742;
}

/* Inspired By section style ends here */

/* footer section style starts here */

#footer-bottom {
  background-color: #fff;
  padding: 20px 0px 10px 0px;
}

#footer-bottom .footer-left-wrapper ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

#footer-bottom .footer-left-wrapper ul li:last-child a::after {
  content: '';
}

#footer-bottom .footer-left-wrapper ul li a {
  color: #000000;
  font-size: 14px;
}

#footer-bottom .footer-left-wrapper ul li a::after {
  content: '|';
  padding: 0px 5px;
  ;
}

#footer-bottom .footer-left-wrapper ul li {
  padding: 0px 0px 0px 0px;
  ;
}

#footer-bottom .footer-main-row {
  align-items: center;
  justify-content: space-between;
}

#footer-bottom .footer-main-row .footer-right-wrapper ul {
  display: flex;
  list-style-type: none;
}

.footer-right-wrapper ul li a:hover img {
  opacity: 0.5;
  transition: 0.3s ease-in-out;
}

#footer-bottom .footer-main-row .footer-right-wrapper ul li {
  padding-right: 20px;
}

/* footer section style ends here */

/* Media queries starts here */

@media(max-width:450px) {
  #Banner-sec #Banner-carousel #car-1 {
    height: 480px !important;
  }
  #Banner-sec #Banner-carousel #car-2 {
    height: 480px !important;
  }
  #Banner-sec #Banner-carousel #car-3 {
    height: 480px !important;
  }
  #Banner-sec .down-arrow {
    display: none;
  }
}

@media(max-width:576px) {
  #Banner-sec #Banner-carousel .auth-wrapper .auth-cont-wrapper {
    text-align: center;
  }
}

@media(max-width:768px) {
    .footer-left-wrapper {
        text-align:center;
    }
    .footer-right-wrapper {
        width: 100%;
        text-align: center;
    }
    #footer-bottom .footer-main-row .footer-right-wrapper ul {
        justify-content: center;
        padding-left: 0px;
        margin-left: 0px;
    }
    #footer-bottom .footer-left-wrapper ul {
        flex-wrap: wrap;
        text-align: center;
    }
    #footer-bottom .footer-left-wrapper ul li {
        width: 100%;
    }
  #Banner-sec #Banner-carousel .auth-wrapper .auth-cont-wrapper h2 {
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    text-align: center;
  }
  #Banner-sec #Banner-carousel .auth-wrapper .auth-img-wrapper {
    text-align: center;
  }
  #Banner-sec #Banner-carousel .auth-wrapper .auth-cont-wrapper h3 {
    font-size: 18px;
    padding-bottom: 20px;
    text-align: center;
  }
  #Banner-sec #Banner-carousel #car-1 {
    height: 550px;
  }
  #Banner-sec #Banner-carousel #car-2 {
    height: 550px;
  }
  #Banner-sec #Banner-carousel #car-3 {
    height: 550px;
  }
  #main-head .main-head-wrapper .main-head-cont-wrapper ul {
    display: none;
  }
  #main-head .container {
    padding: 0;
  }
  #main-head .main-head-img-wrapper img {
    width: 65%;
  }
  #Banner-sec #Banner-carousel .carousel-control-prev-icon {
    display: none;
  }
  #Banner-sec #Banner-carousel .carousel-control-next-icon {
    display: none;
  }
  #expertise .expertise-head-wrapper {
    padding-bottom: 0px;
  }
  #expertise {
    padding: 30px 0px;
  }
  #expertise .expertise-tab-wrapper #myTab {
    margin-bottom: 15px;
  }
  #expertise .expertise-tab-wrapper #myTab .nav-item .nav-link#qc-tab.active {
    margin-bottom: 10px;
  }
  #social-twitter .twitter-img-wrapper img {
    max-width: 100%;
  }
}

@media screen and (max-width:991px) {
  #social-carousel .owl-nav {
    bottom: 0px;
    top: inherit;
  }
}

@media(min-width:769px) and (max-width:991px) {
  #Banner-sec #Banner-carousel #car-1 {
    height: 450px;
  }
  #Banner-sec #Banner-carousel #car-2 {
    height: 450px;
  }
  #Banner-sec #Banner-carousel #car-3 {
    height: 450px;
  }
  #expertise .expertise-head-wrapper {
    padding-bottom: 0px;
  }
  #expertise {
    padding: 30px 0px;
  }
  #expertise .expertise-tab-wrapper #myTab {
    margin-bottom: 15px;
  }
}

@media(min-width:992px) and (max-width:1200px) {
  #Banner-sec #Banner-carousel #car-1 {
    height: 350px;
  }
  #Banner-sec #Banner-carousel #car-2 {
    height: 350px;
  }
  #Banner-sec #Banner-carousel #car-3 {
    height: 350px;
  }
  #expertise .expertise-tab-wrapper #myTab .nav-item .nav-link#qc-tab.active {
    margin-bottom: 15px;
  }
  #expertise .expertise-head-wrapper {
    padding-bottom: 10px;
  }
}

@media(min-width:1201px) and (max-width:1500px) {
  #Banner-sec #Banner-carousel #car-1 {
    height: 450px;
  }
  #Banner-sec #Banner-carousel #car-2 {
    height: 450px;
  }
  #Banner-sec #Banner-carousel #car-3 {
    height: 450px;
  }
  #expertise .expertise-tab-wrapper #myTab .nav-item .nav-link#qc-tab.active {
    margin-bottom: 15px;
  }
  #expertise .expertise-head-wrapper {
    padding-bottom: 10px;
  }
}

@media(min-width:1501px) and (max-width:1800px) {
  #Banner-sec #Banner-carousel #car-3 {
    height: 450px;
  }
}

@media(min-width:769px) {
  .container {
    max-width: 85%;
  }
  .sidenav {
    display: none;
  }
  .ham {
    display: none;
  }
}

/* Media queries ends here */

.gallery.row {
  margin-left: -7.5px;
  margin-right: -7.5px;
}

.gallery-list.col-md-12, .gallery-list.col-md-6, .gallery-list.col-md-4, .gallery-list.col-md-3, .gallery-list.col-md-2, .gallery-list.col-md-1 {
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.image-grid {
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
  background-color: #fff;
  overflow: hidden;
}

.image-grid * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.image-grid img {
  width: 100%;
  height: auto;
  transform: scale(3);
}

.image-grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-grid p {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.image-grid a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.image-grid:hover>img, .image-grid.hover>img {
  opacity: 0.1;
}

.image-grid:hover p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.js-modal-image {
  max-width: 100%;
}

.modal-body {
  padding: 0;
}

.modal-open .modal {
  padding-top: 26vh;
  background-color: transparent;
}

@media (max-width: 992px) {
  .modal-open .modal {
    padding-top: 100px;
  }
  .image-grid {
    width: 100%;
    height: 180px;
  }
}

@media (max-width: 768px) {
  .gallery.container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .gallery-list.col-md-12, .gallery-list.col-md-6, .gallery-list.col-md-4, .gallery-list.col-md-3, .gallery-list.col-md-2, .gallery-list.col-md-1 {
    padding-left: 0;
    padding-right: 0;
  }
  .gallery-row.row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .gallery-row.row.pdtb-40 {
    padding-top: 10px;
  }
  .horizontal-nav {
    margin-bottom: 0;
  }
  .modal-open .modal {
    padding-top: 30vh;
  }
}

.fixed-header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

#inspired {
  padding-top: 50px;
}
.slick-slide {
    margin-right:5px;
    margin-left:5px;
}

.slide-main {
  margin-bottom:10px;
}
